<div class="container">
  <h1 class="mt-3">สถานที่ท่องเที่ยวในจังหวัดภูเก็ต</h1>
  <div class="card mt-3" style="width: 80rem;">
    <img src="assets/image/about/ab1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">หาดฟรีดอม</h5>
      <p class="card-text">นับเป็นชายหาดที่สวยที่สุดของทะเลภูเก็ต โดยหาดแห่งนี้มีชื่อเรียกอีกอย่างว่า “หาดไม้ง้าว”
        เป็นหาดทรายสีขาวละเอียด น้ำทะเลสีเขียวมรกตใส และโอบล้อมไปด้วยบรรยากาศสบาย ๆ มีความเป็นส่วนตัว
        โดยเสน่ห์ของหาดแห่งนี้อยู่ที่ความอุดมสมบูรณ์และความงดงามของธรรมชาติที่กลายเป็นหนึ่งในจุดหมายปลายทางสำหรับการมาพักผ่อน
        อีกหนึ่งที่เที่ยวภูเก็ตที่สำคัญ ซึ่งนักท่องเที่ยวสามารถเดินทางมาเล่นน้ำ อาบแดด ทำกิจกรรมทางน้ำ
        พร้อมทั้งดำน้ำชมปะการังและความน่ารักของสัตว์ทะเลได้อย่างเต็มเปี่ยม</p>
    </div>
  </div>

  <div class="card mt-5" style="width: 80rem;">
    <img src="assets/image/about/ab2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">พระพุทธมิ่งมงคลเอกนาคคีรี</h5>
      <p class="card-text"> พระพุทธมิ่งมงคลเอกนาคคีรี หรือเรียกสั้น ๆ ว่า วัดพระใหญ่
        เป็นที่ประดิษฐานของพระพุทธรูปปางมารวิชัยที่ใหญ่ที่สุดบนเกาะภูเก็ต ทำจากหินอ่อนหยกขาวที่นำเข้ามาจากประเทศพม่า
        โดยมีน้ำหนักราว 135 ตัน ตั้งเด่นบนยอดเขาสูงอย่างงดงาม
        ซึ่งนอกจากนักท่องเที่ยวจะเดินทางมากราบไหว้สักการบูชาเพื่อความเป็นสิริมงคลให้แก่ตนเองแล้ว
        ยังสามารถขึ้นมาชมทัศนียภาพของเมืองภูเก็ตทั้งบริเวณหาดกะตะ แหลมพรหมเทพ และเกาะแก้วพิสดาร ได้อย่างไกลสุดลูกหูลูกตา
        เรียกได้ว่าเป็นอีกหนึ่งที่เที่ยวภูเก็ตที่วิวสวยมาก</p>
    </div>
  </div>

  <div class="card mt-5" style="width: 80rem;">
    <img src="assets/image/about/ab4.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">เกาะเฮ</h5>
      <p class="card-text"> ที่เที่ยวภูเก็ตสุดปังที่ตั้งอยู่ไม่ไกลจากหาดราไวย์นัก เป็นที่เที่ยวที่เหมาะสำหรับวันเดย์ทริป
        ขอแนะนำเกาะเฮ เกาะที่นักท่องเที่ยวที่สนใจการเที่ยวแบบวันเดย์ทริปสามารถซื้อทริปท่องเที่ยวจากบริษัททัวร์
        หรือโรงแรมได้เลย เพราะว่าที่นี่มีกิจกรรมหลากหลาย เช่น กิจกรรมเจ็ตสกี, เล่นบานาน่าโบ๊ท, เดินเล่นริมหาดทราย
        หรือจะดำน้ำชื่นชมฝูงปลานับร้อยชนิด ก็มีครบทุกกิจกรรมให้คุณเพลิดเพลิน
        สำหรับที่นี่ใช้เวลาเดินทางจากหาดราไวย์ไม่นาน เพียงเรือสปีดโบ๊ท 10 นาทีก็สามารถสนุกกับทุกกิจกรรมบนเกาะนี้ได้แล้ว
      </p>
    </div>
  </div>
</div>
